<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar Rotina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <form [formGroup]="updateRotinaForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input formControlName="telefone" type="number" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input formControlName="descricao" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input formControlName="hora" type="time" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input formControlName="data" type="date" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Atualizar Rotina</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>
